venv
.venv
.env
.miner_runs/
results/
data/miner_runs/
data/results/
*.log
__pycache__

.cache/
debug/
artifacts/
miner_runs_old/
scripts/neurons/all_scores_*.json
neurons/sampler_file.json
sampler_file.json
combinatorial_db/molecules.sqlite-shm
combinatorial_db/molecules.sqlite-wal
*.sqlite-shm
*.sqlite-wal
nova-miner.log
